<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<br>
<button [ngClass]="getButtonColor()"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()"> Add SERVER </button>
<p>{{serverCreationStatus}} </p>

<p [ngStyle]="{backgroundColor: getColor()}"
   [ngClass]="{online: serverStatus === 'online'}">{{ 'Server' + serverId }} with ID :{{serverId}} is {{getServerStatus()}}</p>
<input type="text" [(ngModel)]="serverName">

<hr>
<h1>{{serverName}}</h1>
<hr>
